body{
    background-color: black;
}

h2{
    text-decoration: underline;
}

.container{
    background-color: lightgrey;
    border: 3px lightgray;
    border-radius: 25px;
    padding: 3em;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    max-width: 500px;
    min-width: 400px;
}

.label{
    font-weight: bold;
}

.lastResult{
    color: white;
    padding: 3px;
}